# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyproject

# Python template
__pycache__/
.pylint.d

# Self generated sqlite3 db file
*.db

# MacOS temp file
*.DS_Store

# local_secrets.py
local_secrets.py
